<div id="land">
  <div class="container">
    <div id="head">
      <h1>Github Search</h1>
      <img src="https://www.flaticon.com/premium-icon/icons/svg/527/527589.svg" alt="" width="200px">
    </div>
    <br>
    <div id="bod">
      <p>Want to see your favorite developer's work? Worry not. Just click on the get started button below!</p>
      <a routerLink='/details' routerLinkActive='active'><button id="but0">Get Started</button></a>
      <div id="contacts">
       

    </div>
  </div>
  <div style=" padding: 1em;" class="footer">
    <p style="text-align: center;">&copy; Copyright Charles Maina</p>
  </div>